$bg-neutral: #ede3f6;
$grad-100: #e2d7ee;
$grad-200: #f8efff;
$grad-300: #d9bbef;
$grad-400: #eee0fa;
$dark-grad-200: #8a7596;
$dark-grad-300: #0b050c;
$color-0: #442848;
$dark-grad-600: #8a7596;

$text-dark: #2c182d;
$text-light: #fffdff;

$width: calc(100vw / 4.5);
$text-dark: #2c182d;
$bubble: #ede3f6;

$text-200: #f4f4f8;
$background-200: #020203;
$primary-200: #0e0e14;
$dark-grad-100: #f4f4f8;
$secondary-200: #f7f7f7;
$accent-200: #09090d;
$accent-100: #12121a;

.home-container {
  padding: 80px 40px 0 40px;
  font-family: "Akira";
  color: $text-200;
  width: 100vw;
  background: $bubble;
  background: radial-gradient($primary-200, $background-200);
  // background: $dark-grad-300;
  // mix-blend-mode: ;
  display: flex;
  flex-direction: column;
  align-items: center;

  .home-wrapper {
    width: 100vw;
    display: flex;
    height: 800px;
    // flex-direction: column;
    max-height: 1000px;
    align-items: start;
    justify-content: center;
    gap: 2vw;

    .header {
      font-size: 40px;
      margin-top: 8px;
      font-weight: 600;
    }

    .hero-scene {
      margin: 0;
      transform: translate(0, -240px);
      position: relative;
      z-index: 900;
    }

    .canvas {
      transform: translateY(20px);
      position: relative;
      max-height: 1000px;
      // display: none;
    }

    .home-svg-left {
      aspect-ratio: 9/19;
      width: 22vw;
      .cls-1 {
        fill: #f4f4f8;
        transition: all 0.3s;
      }
    }

    .home-svg-right {
      aspect-ratio: 9/19;
      width: 22vw;
      transform: translateX(-20px);
      .cls-1 {
        fill: #f4f4f8;
      }
    }

    .logo-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      color: $text-200;

      .logo {
        width: 29vw;
        aspect-ratio: 265/362;

        .cls-1 {
          fill: #f4f4f8;
        }
      }
    }

    @media (max-width: 768px) {
      // flex-direction: column;
      height: auto;
      margin-bottom: 80px;

      .header {
        font-size: 30px;
      }

      .hero-scene {
        transform: translate(0, -120px);
      }

      .canvas {
        transform: none;
      }

      .home-svg-left,
      .home-svg-right {
        display: none;
      }

      .logo-wrapper {
        .logo {
          width: 77vw;
        }
      }
    }

    // Additional responsive styles for screen widths greater than 768px (e.g., tablets and larger)
    @media (min-width: 769px) {
      .header {
        font-size: 40px;
      }

      .hero-scene {
        transform: translate(0, -240px);
      }

      .canvas {
        transform: translateY(20px);
      }

      .home-svg-left,
      .home-svg-right {
        width: 22vw;
      }

      .logo-wrapper {
        .logo {
          width: 29vw;
        }
      }
    }
  }

  .intro-container {
    color: $background-200;

    margin-top: 0;
    // transform: translateY(80px);
    width: 100vw;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    background: transparent;

    .parallax-group {
      .projects {
        aspect-ratio: 2/1.2;
        width: 200px;
        background: tomato;
        position: absolute;
        z-index: 4;
        top: 50%;
        transition: all 0.3s ease-in-out;

        &:nth-child(1) {
          top: 24%;
          right: 20%;
        }

        &:nth-child(2) {
          top: 35%;
          left: 15%;
        }

        &:nth-child(3) {
          top: 50%;
          right: 0%;
        }

        &:nth-child(4) {
          top: 67%;
          left: 6%;
        }

        &:hover {
          scale: 1.1;
        }
      }
    }

    .intro-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      // mix-blend-mode: difference;

      text-align: center;

      .intro-bg {
        position: absolute;
        z-index: 1;
        inset: 0;

        transform: scaleX(0.35) translateY(-200px);
        //  width: 40%;
        // left: 50%;
        // transform: translateX(-50%);

        background: $dark-grad-100;
      }

      .machine {
        position: relative;
        z-index: 20;
        width: 700px;
        height: 300px;
        // transform: translateX(-180px) translateY(-50px);
      }

      .top,
      .series {
        margin-bottom: 150px;
      }

      .third {
        margin-top: 50px;
      }

      h1 {
        position: relative;
        z-index: 3;
        max-width: 360px;
        font-size: 28px;

        span {
          position: relative;

          .line {
            width: 105%;
            height: 1px;
            background: $background-200;
            position: absolute;
            transform: rotateZ(-2deg) translateX(-3px);
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }

      .series {
        max-width: 300px;
        margin-top: 400px;
        margin-bottom: 10px;
      }
    }
  }

  .info-container {
    margin-bottom: 80px;
    width: 100vw;
    height: calc(120vh + 80px);
    z-index: 50;
    transform: translateY(-900px);
    position: relative;
    background: radial-gradient(ellipse at top, black, $accent-100),
      radial-gradient(ellipse at bottom, $primary-200, $accent-100);

    &::after {
      position: absolute;
      height: 1200px;
      background: radial-gradient(ellipse at top, black, $accent-100),
        radial-gradient(ellipse at bottom, $primary-200, $accent-100);
      content: "";
      transform: rotateZ(180deg);
      width: 100vw;
      bottom: -1200px;
    }

    .wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      color: $text-200;

      h1 {
        font-size: 40px;
      }

      .list {
        text-align: center;
        font-family: "Raleway";
        gap: 30px;
        display: flex;
        flex-direction: column;

        p {
          font-size: 12px;
          font-weight: 500;
        }

        h2 {
          font-size: 28px;
        }
      }
    }
  }

  .banner-container {
    width: 100vw;
    height: 900px;
    position: relative;
    z-index: 60;
    background: $dark-grad-100;
    position: relative;
    // transform: translateY(-500px);

    .wrapper {
      width: 100%;
      height: calc(100% + 80px);
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      gap: 50px;
      color: $background-200;
      text-align: center;

      .crown {
        // transform: translate(-10px, -380px)
        //  rotate3d(0, 0, 0.4, 3.142rad);
        // transform:
        transform: translate(-10px, -344px) scaleY(0.8);
        position: relative;
        fill: $dark-grad-100;
        stroke: $dark-grad-100;
      }

      .logo {
        position: absolute;
        left: 50%;
        transform: translate(-56%, -35%);
        top: 0;
        font-size: 50px;
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateY(-240px);
        top: 0;
        // font-size: 60px;
        gap: 50px;
        margin-top: 14px;

        button {
          box-sizing: border-box;
        }

        button:hover {
          background: $text-200;
          border: 1px solid $background-200;
          color: $background-200;
        }
      }

      h1 {
        font-size: 48px;
        max-width: 700px;

        span {
          position: relative;

          .line {
            width: 105%;
            height: 1px;
            background: $text-light;
            position: absolute;
            transform: rotateZ(-2deg) translateX(-3px);
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }

      p {
        font-size: 14px;
        transform: translateY(-25px);
        opacity: 0.4;
        cursor: pointer;
        transition: opacity 0.5s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .bubble-container {
    width: 100vw;
    background: none;
    z-index: 90;
    pointer-events: none;
    transform: translateY(-60vh);

    .bubble-text {
      // opacity: 0;
      z-index: 100;
      position: absolute;
      top: 90%;
      left: 50%;
      max-width: 500px;
      text-align: center;
      font-size: 2rem;
      transform: translate(-50%, 0);
      color: $text-200;
    }

    svg {
      width: 40%;
    }

    .bubble-wrapper {
      display: grid;
      height: 100vh;
      position: relative;
      grid-template-columns: repeat(7, 1fr);
      transform: translate(-7%);

      .bubble {
        width: $width;
        height: $width;
        // aspect-ratio: 1;
        position: relative;
        background: $background-200;
        border-radius: 50%;
        border: 1px solid $text-200;
        display: flex;
        justify-content: center;
        align-items: center;
        // transition: all 1s;
      }
    }

    .flat-grid {
      grid-template-columns: repeat(42, 1fr);
      align-items: end;
      justify-content: end;
      height: 200vh;
      transform: translate(50%, -30%);
    }
  }

  .animation-container {
    width: 100vw;
    padding: 0;
    transform: translateY(-220px);
    position: relative;
    z-index: 200;
    background: $background-200;

    p {
      max-width: 300px;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
    }

    .animation-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      svg {
        stroke: $dark-grad-100;
        fill: none;
        stroke-width: 3;
        stroke-linejoin: miter;
        stroke-opacity: 0.9;
      }
      .first-anime {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .line {
          transform: translateY(0px);
        }

        .animation-layout {
          width: 100vw;
          transform: translateY(-100px);
        }

        .cls-1 {
          fill: none;
          stroke-miterlimit: 10;
          stroke-linecap: round;
          stroke-width: 4;
          transition: all 0.3s;
        }
        .cls-2 {
          fill: $text-200;
          stroke-linecap: round;
          position: relative;
          z-index: 100;
          transition: all 0.3s;

          &:hover {
            fill: $background-200;
          }
        }

        .animation-text {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          position: absolute;
          bottom: 0;
          max-width: 350px;
          transform: translateY(-700px);
          text-align: center;

          h1 {
            font-size: 1.5rem;
          }
          p {
            font-size: 0.75rem;
          }

          .title-1 {
            position: absolute;
            transform: translateY(106px);
            bottom: 0;
            color: $background-200;
            font-size: 1.5rem;
            pointer-events: none;
          }
        }
      }

      .second-anime {
        display: flex;
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $background-200;

        svg {
          stroke: $dark-grad-100;
          fill: none;
          stroke-width: 3;
          stroke-linejoin: miter;
          stroke-opacity: 0.9;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .animation-text-second {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 60px;
          gap: 10px;max-width: 500px;

          text-align: center;

          h1 {
            font-size: 2rem;
            max-width: 800px;
          }
          p{
            font-size: 0.8rem;
          }

          .title-2 {
            position: absolute;
            font-size: 1.5rem;
            transform: translateY(-192px);
          }
        }
      }
    }
  }
}
