$white-faded: rgba(255, 255, 255, 0.25);
$text-dark: #2c182d;
$text-comp: #dff0de;
$text-white: #ffffff;
$text-light: #fffdff;

.nav-wrapper {
  // Common styles for all screen sizes
  background: none;
  color: white;
  height: 70px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $white-faded;
  mix-blend-mode: difference;

  .nav-logo {
    display: flex;
    gap: 14px;
    align-items: center;

    .logo {
      font-family: "Akira";
      font-size: 30px;
      text-decoration: none;
      color: white;
    }

    .text {
      max-width: 80px;
      font-size: 11px;
      line-height: 1;
      font-weight: 400;
    }
  }

  .nav-links {
    display: flex;
    gap: 70px;
    align-items: center;

    .contact {
      font-family: "Akira";
      min-width: 100px;
      text-decoration: underline;
      text-underline-offset: 4px;
      font-weight: 500;
    }

    .signin {
      position: relative;
      mix-blend-mode: normal;
    }
  }

  // Responsive styles for screen widths less than or equal to 768px (e.g., mobile devices)
  @media (max-width: 768px) {
    align-items: center;

    .nav-logo {
      

      .logo {
        font-size: 24px;
      }

      .text {
        display: none;
      }
    }

    .nav-links {
      flex-direction: column;

      gap: 15px;

      .contact {
        display: none;
      }
    }
  }

  // Additional responsive styles for screen widths greater than 768px (e.g., tablets and larger)
  @media (min-width: 769px) {
    .nav-logo {
      .logo {
        font-size: 30px;
      }

      .text {
        display: block;
      }
    }

    .nav-links {
      flex-direction: row;
    }
  }
}
